@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Hide the buttons by default */
.swiper-button-next, 
.swiper-button-prev {
  opacity: 0!important;
  transition: opacity 0.3s ease!important;
  background-color: black!important;
  color: white!important;
  border-radius: 50%!important;
  width: 44px!important;
}

/* Show the buttons on hover */
.swiper:hover .swiper-button-next, 
.swiper:hover .swiper-button-prev {
  opacity: 1!important; 
  background-color: red!important;
  color: white!important;
}

.swiper-button-prev::after, .swiper-button-next::after{
  font-size: 10px!important;
  font-weight: bold;
}